{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <h1>{{ article.pk }} : {{ article.title }}</h1>
    <p>{{ article.user.username }}님</p>
    <p class="text-secondary">{{ article.created_at }} | 수정: {{ article.updated_at }}</p>
    {% if article.user == request.user  %}
    <div class="text-right">
        <form action="{% url 'articles:delete' article.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button class="btn btn-secondary">삭제</button>
        </form>
        <a href="{% url 'articles:update' article.pk %}"><button class="btn btn-secondary">수정</button></a>
    </div>
    {% endif %}
    {% with article_like_users=article.like_users.all %}
        {% if request.user in article_like_users %}
        <a href="{% url 'articles:like' article.pk %}">
            <i class="fas fa-heart fa-lg animated delay-1s" style="color: red;"></i>
        </a>
        {% else %}
        <a href="{% url 'articles:like' article.pk %}">
            <i class="far fa-heart fa-lg animated infinite bounce delay-1s" style="color: gray;"></i>
        </a>
        {% endif %}
        <p>{{ article_like_users|length }}명이 좋아합니다.</p>
    {% endwith %}
    <hr>
    <p>{{ article.content }}</p>
    <img src="{{ article.image.url }}">
    <img src="{{ article.image_thumbnail.url }}">
    <hr>
    {% for comment in article.comment_set.all %}
        <li>{{ comment.user.username }} : {{ comment.content }}</li>
    {% endfor %}
    <hr>
    <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary">작성</button>
    </form>

{% endblock %}