{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <!--
        분기의 기준은 url_name이다.
        path로 하면, url이 바뀔 때마다 바꿔줘야한다.
    -->
    {% if request.resolver_match.url_name == 'create' %}
        <h2>새 글쓰기</h2>
    {% else %}
        <h2>수정하기</h2>
    {% endif %}

    <!-- bootstrap4 활용 -->
    <form action="{% url 'articles:comments_create' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!-- input type:submit -->
        <button class="btn btn-primary">제출</button>
    </form>
    <hr>

    <!-- 그냥 활용 -->
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="제출">
    </form>
    <hr>

    <!-- loop 활용 -->
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} <br> {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="제출">
    </form>
{% endblock %}