{% extends 'base.html' %}
{% block body %}
    <h2 class="text-center">게시판 목록</h2>
    <a href="{% url 'articles:create' %}"><button class="btn btn-primary float-right my-2">글 쓰기</button></a>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성 시간</th>
        </tr>
      </thead>
      <tbody>
       {% for article in articles %}
        <tr>
          <th scope="row">{{ article.pk }}</th>
          <td><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></td>
          <td><a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a></td>
          <td>{{ article.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}